<div class="p">
<h1>Мой Профиль</h1>

<div *ngIf="username">
  <p>Username:<strong> {{ username }}</strong></p>
  <div *ngIf="showPassword">
    <p>Password:<strong> {{ password }}</strong></p>
    <button (click)="showPassword = false" class="bt" style="margin-bottom: 1%;">Скрыть Пароль</button>
  </div>
  <div *ngIf="!showPassword">
    <button (click)="showPassword = true" class="bt">Показать Пароль</button>
  </div>

  <button (click)="logout()">Выйти</button>
</div>

<div *ngIf="!username">
  <p>Please log in to view your profile.</p>
</div>
</div>